/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* белый №FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --first-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  vertical-align: top;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect-list {
  display: flex;
  margin-left: auto;
}

.header-connect-mail {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Hero */
.hero {
  background-color: var(--first-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  display: block;
  margin: 30px auto 0;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

/* .mail-link {
  margin-right: 50px;
} */
.mail-link,
.tel-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
}
.logo.span {
  color: var(--accent-color);
}

/* Site nav */
.header-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link:active {
  color: var(--accent-color);
  background-color: #fff;
}

.header-list .link.current {
  color: var(--accent-color);
}

/* Features */

.feature-list {
  display: flex;
}

.feature-item {
  width: 270px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .feature-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Examples */
.section-about {
  padding-top: 0;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.about-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
}

.about-title,
.team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Team */

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
}
.team-title-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.container-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* .team-title {
  text-align: center;
} */

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.list-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.portfolio-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Adress */
.footer {
  background-color: var(--first-bg-color);
  color: var(--primary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
}
span.logo.span {
  margin-bottom: 100px;
}
address {
  color: #ffffff;
  background-color: var(--first-bg-color);
  font-style: normal;
  margin-top: 20px;
}
.adress a {
  color: white;
  text-decoration: none;
}

a.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

address p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Portfolio */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-list-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  flex-basis: calc((100% - 5 * 8px) / 5);
}

.portfolio-list-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  min-width: 73px;
  min-height: 38px;
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.potfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
